# Python
__pycache__/
*.py[cod]
*.env
venv/
env/
*.sqlite3
*.pyc

# Django stuff
*.log
*.pot
*.pyc
*.mo
*.swp
media/
staticfiles/
static/

# Environment variables
.env

# VSCode
.vscode/

# MacOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build output
build/

# Logs
logs/
*.log

# Coverage reports
htmlcov/
.coverage

# PyCharm
.idea/

# JetBrains
*.iml

# Docker
*.dockerignore
Dockerfile

# Misc
*.bak
*.backup
